[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/WeAreLeka/Arduino-Makefile
[submodule "lib/StandardCplusplus"]
	path = lib/StandardCplusplus
	url = https://github.com/maniacbug/StandardCplusplus.git
[submodule "lib/ArduinoSerialCommand"]
	path = lib/SerialCommand
	url = https://github.com/scogswell/ArduinoSerialCommand.git
[submodule "lib/DHT"]
	path = lib/DHT
	url = git+ssh://git@github.com/elpollodiablo/arduino-DHT.git
